<div id="calendarBox">
	<div class="row">
		<div class="col-md-12">
			<button ng-click="logout()" style="margin:5px" class="btn btn-danger pull-right">Sign Out</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="btn-group" style="margin:5px">
				<a href="/adminCarousel" class="btn btn-default btn-lg">
					Carousel <span class="badge">[[carouselCount]]</span>
				</a>
			</div>
			<div class="btn-group" style="margin:5px">
				<a href="/adminEvent" class="btn btn-default btn-lg">
					Events <span class="badge">[[eventCount]]</span>
				</a>
				<a href="/addEvent" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-plus"></span>
				</a>
			</div>
			<div class="btn-group" style="margin:5px">
				<a href="/adminUpdate" class="btn btn-default btn-lg">
					Updates <span class="badge">[[updateCount]]</span>
				</a>
				<a href="/addUpdate" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-plus"></span>
				</a>
			</div>
			<div class="btn-group" style="margin:5px">
				<a href="/adminBlog" class="btn btn-default btn-lg">
					Blogs <span class="badge">[[blogCount]]</span>
				</a>
				<a href="/addBlog" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-plus"></span>
				</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-default" style="margin:20px auto">
				<div class="panel-heading">
					<h1>Admin Stuff</h1>
				</div>
				<div class="panel-body">
					<h3>To Do:</h3>
					<ul>
						<li>Create page for U.S. senior officials Resources > Cal-Asia Research > U.S. senior officials</li>
						<li>Add bios for officers and board</li>
						<li>3 new pages: (still in construction — don’t need to update yet)
							<ul>
								<li>asiabuild.html</li>
								<li>cabc-business-outlook.html</li>
								<li>sponsorship-opportunities.html</li>
							</ul>
						</li>
					</ul>

					<h3>Graphics needed:</h3>
					<ul>
						<li>Asia Build logo, header pictures</li>
						<li>Economy banners</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>