<div id="calendarBox">
	<div class="row">
		<div class="col-md-12">
			<a href="/admin"><button style="margin:5px" class="btn btn-primary pull-left">Admin</button></a>
			<button ng-click="logout()" style="margin:5px" class="btn btn-danger pull-right">Sign Out</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="btn-group" style="margin:5px">
				<a href="/adminCarousel" class="btn btn-default btn-lg">
					Carousel <span class="badge">[[carouselCount]]</span>
				</a>
			</div>
			<div class="btn-group" style="margin:5px">
				<a href="/adminEvent" class="btn btn-default btn-lg">
					Events <span class="badge">[[eventCount]]</span>
				</a>
				<a href="/addEvent" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-plus"></span>
				</a>
			</div>
			<div class="btn-group" style="margin:5px">
				<a href="/adminUpdate" class="btn btn-default btn-lg">
					Updates <span class="badge">[[updateCount]]</span>
				</a>
				<a href="/addUpdate" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-plus"></span>
				</a>
			</div>
			<div class="btn-group" style="margin:5px">
				<a href="/adminBlog" class="btn btn-default btn-lg">
					Blogs <span class="badge">[[blogCount]]</span>
				</a>
				<a href="/addBlog" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-plus"></span>
				</a>
			</div>
			<div class="btn-group" style="margin:5px">
				<a href="/adminBoard" class="btn btn-default btn-lg">
					Board <span class="badge">[[boardCount]]</span>
				</a>
				<a href="/addBoard" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-plus"></span>
				</a>
			</div>
		</div>
	</div>
	<p class="lead" style="padding-top:20px; text-align:center;">
		[[boardCount]] Board Members
	</p>
	<p class="text-center"><a href="/addBoard">Add a member +</a></p>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<input class="form-control" ng-model="boardSearch", placeholder="search">
			<div class="text-center" data-loading>
				<img src="img/Cal-Asia-Loading-Icon.gif">
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 [[member._id]]" ng-repeat="member in board | filter:boardSearch | orderBy:'type'" style="padding-left:10px;padding-right:10px">
				<div style="background:#eee;padding:10px;margin-top:10px;margin-bottom:10px">
					<div style="width:100%;padding-bottom:75%;position:relative">
						<div class="boardThumbnail" style="background:url([[member.image]]) center center;background-size:cover;width:100%;height:100%;position:absolute;top:0;left:0"></div>
					</div>
					<div style="height:100px;">
						<h5><strong>[[member.name]]</strong></h5>
						<h5><strong>[[member.position]]</strong></h5>
						<h5><i>[[member.company.position]]</i><br>
						[[member.company.name]]</h5>
					</div>
					<div class="row">
						<p class="col-md-9 col-md-offset-1">
							<a href="/editBoard/[[member._id]]" class="pull-left"><span class="glyphicon glyphicon-pencil"></span></a>
							<span class="glyphicon glyphicon-trash pull-right" style="color:red;cursor:pointer" ng-click="deleteBoard([[member._id]])"></span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>