<div id="calendarBox">
	<div class="row">
		<div class="col-md-12">
			<a href="/admin"><button style="margin:5px" class="btn btn-primary pull-left">Admin</button></a>
			<button ng-click="logout()" style="margin:5px" class="btn btn-danger pull-right">Sign Out</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="btn-group" style="margin:5px">
				<a href="/adminCarousel" class="btn btn-default btn-lg">
					Carousel <span class="badge">[[carouselCount]]</span>
				</a>
			</div>
			<div class="btn-group" style="margin:5px">
				<a href="/adminEvent" class="btn btn-default btn-lg">
					Events <span class="badge">[[eventCount]]</span>
				</a>
				<a href="/addEvent" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-plus"></span>
				</a>
			</div>
			<div class="btn-group" style="margin:5px">
				<a href="/adminUpdate" class="btn btn-default btn-lg">
					Updates <span class="badge">[[updateCount]]</span>
				</a>
				<a href="/addUpdate" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-plus"></span>
				</a>
			</div>
			<div class="btn-group" style="margin:5px">
				<a href="/adminBlog" class="btn btn-default btn-lg">
					Blogs <span class="badge">[[blogCount]]</span>
				</a>
				<a href="/addBlog" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-plus"></span>
				</a>
			</div>
			<div class="btn-group" style="margin:5px">
				<a href="/adminBoard" class="btn btn-default btn-lg">
					Board <span class="badge">[[boardCount]]</span>
				</a>
				<a href="/addBoard" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-plus"></span>
				</a>
			</div>
			<div class="btn-group" style="margin:5px">
				<a href="/adminContent" class="btn btn-default btn-lg">
					Page
				</a>
				<a href="/addContent" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-plus"></span>
				</a>
			</div>
		</div>
	</div>
	<p class="lead" style="padding-top:20px; text-align:center;">
		[[CarouselCount]] Carousel Items
	</p>
	<div class="row">
		<div class="col-lg-12">
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
					  <tr>
					  	<th>Order</th>
					  	<th>Name</th>
					  	<th>Text</th>
					  	<th>Image</th>
					  	<th>Edit</th>
					  	<th>Delete</th>	
					  </tr>
					</thead>		
					<tbody>
						<tr class="text-center" data-loading>
							<th scope="row"><img src="img/Cal-Asia-Loading-Icon.gif"></th>
						</tr>
						<tr ng-repeat="item in items | orderBy:'order'" id="[[item._id]]">
							<td><input ng-model="item.order" type="number" class="form-control" style="width:64px"></td>
							<td>[[item.title]]</td>
							<td ng-bind-html="item.text"></td>
							<td ng-bind-html="item.image"></td>
							<td><a href="/editCarousel/[[item._id]]"><span class="glyphicon glyphicon-pencil"></span></a></td>
							<td><p class="glyphicon glyphicon-trash" style="color:red;cursor:pointer" ng-click="deleteItem([[item._id]])"></p></td>
						</tr>
					</tbody>
				</table>
				<p class="text-center"><a ng-click="addItem()" style="cursor:pointer">Add an Item +</a></p>
	        	<button class="btn btn-primary" ng-click="saveOrder()" style="margin:10px 20px 29px 10px;width:64px;vertical-align:top">Save</button>
				<div id="success" class="alert alert-success text-center ease" style="display:inline-block;vertical-align:top"role="alert">
					<strong>Success! :)</strong>
				</div>
			</div>
		</div>
	</div>
</div>