      <!-- II Carousel --> 
      <div class="span 6 offset6" id="carouselContainer">
        <div class="carousel slide" id="myCarousel">

          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-slide-to="[[item.index]]" data-target="#myCarousel" carousel-first-active ng-repeat="item in carousel"></li>
          </ol>

          <!-- Wrapper for slides --> 
          <div class="carousel-inner">
            <div class="item" id="slide[[item.order]]" ng-repeat="item in carousel" carousel-first-active style="background: url([[item.image]]) top center no-repeat">
              <div class="carousel-caption" contenteditable="false">
                <h4>[[item.title]]</h4>
                <div ng-bind-html="item.text"></div>
              </div><!--end carousel-caption --> 
            </div><!-- end item -->
          </div>

          <!-- Controls -->
          <a class="left carousel-control" data-slide="prev" onclick="$('#myCarousel').carousel('prev')" style="cursor:pointer"><span class="icon-prev"></span></a>

          <a class="right carousel-control" data-slide="next" onclick="$('#myCarousel').carousel('next')" style="cursor:pointer"><span class="icon-next"></span></a> 

        </div><!-- end myCarousel -->
      </div><!-- end carousel-container -->

      <!-- III About, Events; Updates; Twitter -->
      <div class="row">
        <div class="col-md-8">

          <!-- 1 About Our Work -->
          <div id="homeAbout" id="leftColumn" contenteditable="false">
            <h4><span class="glyphicon glyphicon-globe"></span> About Our Work</h4>
            <p style="padding: 0 30px;"> California-Asia Business Council (Cal-Asia) is one of California's leading private-sector, non-profit, international business-promotion associations. Our mission is to help California firms of all sizes develop or expand their commercial ties with the economies of Pacific Asia and India. Cal-Asia members range from some of the nation's largest multinational companies to small and medium-sized exporters, importers, manufacturers, and service companies. Industries represented range from infrastructure development to technology, and also export-import, resource development, global transportation, engineering and design, banking and finance. </p> 
          </div><!-- end homeAbout -->

          <!-- 2 Upcoming Events -->
          <div class="modal fade" id="[[event._id]]" ng-repeat="event in upcomingEvents">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button class="close" data-dismiss="modal">&times;</button>

                  <h4 class="modal-title">[[event.name]]</h4>
                  <h5 ng-show="event.date.string">Date: [[event.date.string]]<span ng-show="event.eventTime.string">, Time: [[event.eventTime.string]]</span></h5>
                  <h5 ng-show="event.location">Location: [[event.location]]</h5>
                  <h5 ng-show="event.capacity">Capacity: [[event.capacity]]</h5>
                  <h5 ng-show="event.price">Price: $[[event.price]]</h5>
                  <h5 ng-show="event.memberPrice">Member: $[[event.memberPrice]]</h5>
                </div><!-- end modal header-->

                <div class="modal-body">
                <p ng-bind-html="event.description"></p> 

                </div><!-- end modal body-->

                <div class="modal-footer">
                  <div ng-if="event.past" style="display:inline-block; color:red" class="pull-left">
                    <p>This event has passed.</p>
                  </div>
                  <a href="[[event.externalLink]]" target="_blank">
                    <button ng-show="event.externalLink" class="btn btn-default" type="button">
                        More Details <span class="glyphicon glyphicon-new-window"></span>
                    </button>
                  </a> 
                  <div ng-if="!event.past" style="display:inline-block">
                    <a href="[[event.registration.url]]" target="_blank" ng-show="event.registration.url"><button class="btn btn-success" type="button">Register for this Event</button></a>
                  </div>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">Close</button>
                </div><!-- end modal-footer -->
              </div><!-- end modal content -->
            </div><!-- end modal dialog --> 
          </div><!--end modal fade --> 
          <div id="homeEvents">
            <h4><span class="glyphicon glyphicon-calendar"></span> Upcoming Cal-Asia and Partner Events <small><a href="/calendar">view all >></a></small></h4>
            <p style="padding: 0 30px;" ng-repeat="event in upcomingEvents">
              <strong>[[event.name]]</strong><br> 
              <i ng-show="event.date.string">[[event.date.string]]</i><span style="color:gray" ng-show="event.date.string"> - [[event.countDown]]</span><br>
              <span ng-show="event.location">
                [[event.location]]
              </span>
              <br>
              <span ng-show="event._id"><a ng-click="showModal([[event._id]])" style="cursor:pointer">Details</a> | <a href="[[event.registration.url]]" target="_blank">Registration</a></span>
            </p>
          </div><!-- end homeEvents -->   
        </div><!-- end col-md-8 leftColumn --> 

        <div class="col-md-4" id="rightColumn">
          <!-- 3 News & Updates -->
          <div class="modal fade" id="[[update._id]]" ng-repeat="update in updates">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button class="close" data-dismiss="modal">&times;</button>

                  <h3 class="modal-title">[[update.title]] <br><small ng-show="update.date.string">[[update.date.string]]</small></h3>
                </div><!-- end modal header-->

                <div class="modal-body">
                <p ng-bind-html="update.description"></p> 
                </div><!-- end modal body-->

                <div class="modal-footer">
                  <button class="btn btn-primary" data-dismiss="modal" type="button">Close</button>
                </div><!-- end modal-footer -->
              </div><!-- end modal content -->
            </div><!-- end modal dialog --> 
          </div><!--end modal fade --> 
          <div id="homeUpdates"> 
            <div>
              <h4><span class="glyphicon glyphicon-paperclip"></span> News and Updates</h4>
            </div>
            <p ng-repeat="update in updates" style="padding: 10px 30px 10px 30px;margin:0;border-top:solid 1px #ddd">
              <strong>[[update.title]]</strong><br>
              <span ng-if="update.preview">
                <i ng-if="update.date.string">[[update.date.string]]</i><br ng-if="update.date.string">
                <span ng-bind-html="update.preview"></span>
                <span ng-show="update.more"><a ng-click="showModal([[update._id]])" style="cursor:pointer"><small>Read more...</small></a></span>
              </span>
            </p>
           </div><!-- end homeUpdates -->

          <!-- 4 Twitter -->  
          <div id="Twitter" style="padding: 0px 0 20px 0; margin: 20px;">
            <a class="twitter-timeline"  href="https://twitter.com/calasiaorg"  data-widget-id="449677084760104961">Cal-Asia Insights on Twitter</a>
                      
                      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> 
                  </div>
        </div><!-- end col-md-4 rightColumn-->  
      </div><!-- end row -->

      <!-- IV Sponsors --> 
        <div id="sponsors">
          <div class="row">
            <div class="col-md-12">
              <p class="lead text-center" contenteditable="false">Asia Night Site Sponsors</p>
              <div id="sponsorlogos" class="text-center" contenteditable="false"> 
                <a href="http://www.ambex.com/management.htm" target="_blank"><img src="../img/logo-ambex.png" alt="AMBEX" height=10% width=10% class="sponsorlogo"></a>

                <a href="http://www.blumcapital.com/" target="_blank"><img src="../img/logo-blum.gif" alt="Blum Capital" class="sponsorlogo"></a>

                <a href="http://www.dentons.com/" target="_blank"><img src="../img/logo-dentons.gif" alt="Dentons" class="sponsorlogo" height=20% width=20%></a>

                <a href="http://www.top1oil.com/" target="_blank"><img src="../img/logo-top1oil.gif" alt="Top 1 Oil" width=7% height=7% class="sponsorlogo"></a>

                <a href="https://www.wellsfargo.com/" target="_blank"><img src="../img/logo-wellsfargo.png" alt="Wells Fargo" width=7% height=7% class="sponsorlogo">

                <a href="https://tpg.com/" target="_blank"><img src="../img/logo-tpg.jpg" alt-"TPG" width=10% height=10% class="sponsorlogo">

                <a href="http://www.bayareacouncil.org/" target="_blank"><img src="../img/logo-bac.jpg" alt="BAC" width=15% height=15% class="sponsorlogo"></a>

                <a href="http://www.squirepattonboggs.com/" target="_blank"><img src="../img/logo-spb.png" alt="Squire Patton Bogs" width=10% height=10% class="sponsorlogo"></a>

              </div><!-- end sponsorlogos -->
            </div><!-- end col-md-12 -->
          </div><!-- end row -->
        </div><!-- end sponsors -->