<!-- Under Mission Box -->
		<div id="programsBox">
			<div class="row">
				<div class="col-md-12">
					<p class="lead" style="padding-top: 20px; margin: 10px; text-align:center;">[[content[0].type]]</p>
					<p style="padding-left: 30px; padding-right: 30px;" ng-bind-html="content[0].text"></p><br> 

				</div><!-- end col-lg-12 -->
			</div><!-- end row --> 

		<div id="programpics">
			<div class="row">
			  <div class="col-sm-6 col-md-4">
			    <div class="thumbnail">
			      <img src="[[content[1].image.slice(10, content.image.length-2)]]" alt="Info Seminars">
			      <div class="caption">
			        <h3>[[content[1].type]]</h3>
			        <p ng-bind-html="content[1].text"></p>
			        <p><a href="/calendar" class="btn btn-primary" role="button">See upcoming events</a> </p>
			      </div><!-- end caption --> 
			    </div><!-- end thumbnail --> 
			  </div><!-- end col-sm6 -->

			  <div class="col-sm-6 col-md-4">
			    <div class="thumbnail">
			      <img src="[[content[2].image.slice(10, content.image.length-2)]]" alt="Networking">
			      <div class="caption">
			        <h3>[[content[2].type]]</h3>
			        <p ng-bind-html="content[2].text"></p>
			        <p><a href="/membership" class="btn btn-primary" role="button">Learn about Membership</a></p>
			      </div><!-- end caption --> 
			    </div><!-- end thumbnail --> 
			  </div><!-- end col-sm6 -->

			  <div class="col-sm-6 col-md-4">
			    <div class="thumbnail">
			      <img src="[[content[3].image.slice(10, content.image.length-2)]]" alt="Asia Night">
			      <div class="caption">
			        <h3>[[content[3].type]]</h3>
			        <p ng-bind-html="content[3].text"></p>
			        <p><a href="www.asianight.org" target="_blank" class="btn btn-primary" role="button">Click here for Asia Night</a></p>
			      </div><!-- end caption --> 
			    </div><!-- end thumbnail --> 
			  </div><!-- end col-sm6 -->
			</div><!-- end row -->
		</div><!-- end program pics -->

		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
				  <li>Past events and speakers</li>
				  <li><a style="cursor:pointer" ng-click="getYear(2015)">2015</a></li>
				  <li><a style="cursor:pointer" ng-click="getYear(2014)">2014</a></li>
				  <li><a style="cursor:pointer" ng-click="getYear(2013)">2013</a></li>
				  <li><a style="cursor:pointer" ng-click="getYear(2012)">2012</a></li>
				  <li><a style="cursor:pointer" ng-click="getYear(2011)">2011</a></li>
				  <li><a style="cursor:pointer" ng-click="getYear(2010)">2010</a></li>
				  <li><a style="cursor:pointer" ng-click="getYear(2009)">2009</a></li>
				  <li><a style="cursor:pointer" ng-click="getYear(2008)">2008</a></li>
				  <li><a style="cursor:pointer" ng-click="getYear(2007)">2007</a></li>
				  <li><a style="cursor:pointer" ng-click="getYear(2006)">2006</a></li>
				  <li><a style="cursor:pointer" ng-click="getYear(2005)">2005</a></li>
				  <li><a style="cursor:pointer" ng-click="getYear(2004)">2004</a></li>
				  <li><a style="cursor:pointer" ng-click="getYear(2003)">2003</a></li>
				  <li><a style="cursor:pointer" ng-click="getYear(2002)">2002</a></li>
				  <li><a style="cursor:pointer" ng-click="getYear(2001)">2001</a></li>
				</ol>	
			</div><!-- end col-lg-12 -->
		</div><!-- end row -->

		<!-- start 2014 --> 
		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive">
					<div class="modal fade" id="[[event._id]]" ng-repeat="event in events">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button class="close" data-dismiss="modal">&times;</button>

									<h4 class="modal-title">[[event.name]]</h4>
									<h5 ng-show="event.date.string">Date: [[event.date.string]]<span ng-show="event.eventTime.string">, Time: [[event.eventTime.string]]</span></h5>
									<h5 ng-show="event.location">Location: [[event.location]]</h5>
									<h5 ng-show="event.capacity">Capacity: [[event.capacity]]</h5>
									<h5 ng-show="event.price">Price: $[[event.price]]</h5>
									<h5 ng-show="event.memberPrice">Member: $[[event.memberPrice]]</h5> 
								</div><!-- end modal header-->

								<div class="modal-body">
								<p ng-bind-html="event.description"></p>
								<p ng-if="event.sponsors.length>0"><strong>Sponsors: </strong>[[event.sponsors.join(", ")]]</p>

								</div><!-- end modal body-->

								<div class="modal-footer">
									<div ng-if="event.past" style="display:inline-block; color:red" class="pull-left">
										<p>This event has passed.</p>
									</div>
									<a href="[[event.externalLink]]" target="_blank">
										<button ng-show="event.externalLink" class="btn btn-default" type="button">
											More Details <span class="glyphicon glyphicon-new-window"></span>
										</button>
									</a>
									<div ng-if="!event.past" style="display:inline-block">
										<a href="[[event.registration.url]]" target="_blank" ng-show="event.registration.url"><button class="btn btn-success" type="button">Register for this Event</button></a>
									</div>
									<button class="btn btn-primary" data-dismiss="modal" type="button">Close</button>
								</div><!-- end modal-footer -->
							</div><!-- end modal content -->
						</div><!-- end modal dialog --> 
					</div><!--end modal fade --> 
					<table class="table table-hover">
						<thead>
							<tr>
								<th class="col-sm-4">Event Name</th>
								<th class="col-sm-2">Status</th>
								<th class="col-sm-2">Date</th>
								<th class="col-sm-4">Sponsors and Supporters</th>	
							</tr>
						</thead>
						<tbody>
							<!-- start 2014 Event 1/12 -->
							<tr class="text-center" data-loading>
								<th scope="row"><img src="img/Cal-Asia-Loading-Icon.gif"></th>
							</tr>
							<tr ng-repeat="event in events">
								<th scope="row"><a ng-click="showModal([[event._id]])" data-toggle="modal" style="cursor:pointer">[[event.name]]</a></th>
								<td><span ng-show="event.past">Past</span><span ng-hide="event.past">Upcoming</span></td>
								<td>[[event.date.string]]</td>
								<td>[[event.sponsors.join(", ")]]</td>
							</tr>
						</tbody>
					</table>
				</div><!-- end table-responsive --> 
			</div><!-- end col-md-12 -->
		</div><!-- end row-->  
	</div><!-- end programBox -->