<ol class="breadcrumb">
  <li><a href="/resources">Resources</a></li>
  <li><a href="/resources">Cal-Asia Research</a></li>
  <li class="active">U.S. Senior Officials in Asia</li>
</ol>

<div class="row" id="officialsBox">
	<div class="col-md-6">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Location</th>
					<th>Ambassador/ Senior Official</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<th scope="row">ASEAN</th>
					<td><a href="http://asean.usmission.gov/mission/ambassador.html" target="_blank">Hon. Nina Hachigian, Ambassador</a></td>
				</tr>
				<tr>
					<th scope="row">Australia</th>
					<td><a href="http://www.state.gov/r/pa/ei/biog/217769.htm" target="_blank">Hon. John Berry</a></td>
				</tr>
				<tr>
					<th scope="row">Brunei</th>
					<td><a href="http://www.state.gov/r/pa/ei/biog/237306.htm" target="_blank">Hon. Craig Allen</a></td>
				</tr>
				<tr>
					<th scope="row">Cambodia</th>
					<td><a href="http://www.state.gov/r/pa/ei/biog/187733.htm" target="_blank">Hon. William E. Todd</a></td>
				</tr>
				<tr>
					<th scope="row">People's Republic of China</th>
					<td><a href="http://www.state.gov/r/pa/ei/biog/221450.htm" target="_blank">Hon. Max Sieben Baucus</a></td>
				</tr>
				<tr>
					<th scope="row">East Timor</th>
					<td><a href="http://timor-leste.usembassy.gov/ambassador.html" target="_blank">Hon. Katherine Duffy</a></td>
				</tr>
				<tr>
					<th scope="row">Hong Kong & Macau</th>
					<td><a href="http://www.state.gov/r/pa/ei/biog/212949.htm" target="_blank">Hon. Clifford A. Hart, Consul General</a></td>
				</tr>
				<tr>
					<th scope="row">India</th>
					<td><a href="http://newdelhi.usembassy.gov/stephensk.html" target="_blank">Hon. Kathleen Stephens, Chargé d’Affaires</a></td>
				</tr>
				<tr>
					<th scope="row">Indonesia</th>
					<td><a href="http://jakarta.usembassy.gov/about-us/ambassador.html" target="_blank">Hon. Robert Blake</a></td>
				</tr>
				<tr>
					<th scope="row">Japan</th>
					<td><a href="http://japan.usembassy.gov/e/tamb-main.html" target="_blank">Hon. Caroline Kennedy</a></td>
				</tr>
				<tr>
					<th scope="row">South Korea</th>
					<td><a href="http://seoul.usembassy.gov/p_biography.html" target="_blank">Hon. Mark W. Lippert</a></td>
				</tr>
			</tbody>
		</table>
	</div><!-- end col-md-6 -->

	<div class="col-md-6">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Location</th>
					<th>Ambassador/ Senior Official</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<th scope="row">Laos</th>
					<td><a href="http://laos.usembassy.gov/ambio.html" target="_blank">Hon. Daniel A. Clune</a></td>
				</tr>
				<tr>
					<th scope="row">Malaysia</th>
					<td><a href="http://malaysia.usembassy.gov/ambassador.html" target="_blank">Hon. Joseph Y. Yun</a></td>
				</tr>
				<tr>
					<th scope="row">Mongolia</th>
					<td><a href="http://mongolia.usembassy.gov/ambassador_bio.html" target="_blank">Hon. Piper Anne Wind Campbell</a></td>
				</tr>
				<tr>
					<th scope="row">Myanmar</th>
					<td><a href="http://burma.usembassy.gov/ambassador.html" target="_blank">Hon. Derek J. Mitchell</a></td>
				</tr>
				<tr>
					<th scope="row">New Zealand</th>
					<td><a href="http://newzealand.usembassy.gov/dcm_cda.html" target="_blank">Hon. Candy Green, Chargé d’Affaires a.i.</a></td>
				</tr>
				<tr>
					<th scope="row">PNG</th>
					<td><a href="http://portmoresby.usembassy.gov/about_us/ambassador.html" target="_blank">Hon. Walter North</a></td>
				</tr>
				<tr>
					<th scope="row">Philippines</th>
					<td><a href="http://manila.usembassy.gov/ambassador.html" target="_blank">Hon. Philip S. Goldberg</a></td>
				</tr>
				<tr>
					<th scope="row">Singapore</th>
					<td><a href="http://singapore.usembassy.gov/ambassador.html" target="_blank">Hon. Kirk Wagar</a></td>
				</tr>
				<tr>
					<th scope="row">Taiwan</th>
					<td><a href="http://www.ait.org.tw/en/meet-the-director.html" target="_blank">Hon. Christopher J. Marut (Director, AIT)</a></td>
				</tr>
				<tr>
					<th scope="row">Thailand</th>
					<td><a href="http://bangkok.usembassy.gov/cda.html" target="_blank">Hon. W. Patrick Murphy, Chargé d’affaires, a.i.</a></td>
				</tr>
				<tr>
					<th scope="row">Vietnam</th>
					<td><a href="http://vietnam.usembassy.gov/ambassador.html" target="_blank">Hon. Ted Osius, Ambassador</a></td>
				</tr>
			</tbody>
		</table>
	</div><!-- end col-md-6 -->  
</div><!-- end officialsBox -->

<div class="row">
	<div class="col-md-12">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Title</th>
					<th>Official</th>
				</tr>
			</thead>

			<tbody>
			<tr>
				<th scope="row">Director General of the U.S. and Foreign Commercial Service and Assistant Secretary for Global Markets</th>
				<td>Hon. Thomas Moore</td>
			</tr>
			<tr>
				<th scope="row">Assistant Secretary of State for East Asian and Pacific Affairs</th>
				<td>Daniel Russel</td>
			</tr>
			<tr>
				<th scope="row">Administrator, USDA Foreign Agricultural Service</th>
				<td>Phil Karsting</td>
			</tr>
			<tr>
				<th scope="row">Assistant Secretary for Policy and International Affairs, US Department of Energy</th>
				<td>Jonathan Elkind</td>
			</tr>
			<tr>
				<th scope="row">Acting Under Secretary for International Trade, US Department of Commerce, International Trade Administation</th>
				<td>Kenneth E. Hyatt</td>
			</tr>
			<tr>
				<th scope="row">Senior Official for Asia-Pacific Economic Cooperation (APEC)</th>
				<td>Hon. Robert S. Wang</td>
			</tr>
			<tr>
				<th scope="row">Special Envoy & Coordinator for International Energy Affairs, State Department</th>
				<td>Hon. Amos J. Hochstein</td>
			</tr>
			<tr>
				<th scope="row">US Executive Director, Ambassador Asian Development Bank</th>
				<td>Hon. Robert M. Orr</td>
			</tr>
			</tbody>
	</div><!-- end col-md-12 -->
</div><!-- end row -->